<div class="center-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login/Registro</mat-card-title>
      <mat-card-subtitle>Ingrese los datos</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="123@gmail.com" value="" [(ngModel)]="lg_email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="123moco_xd" [(ngModel)]="lg_pass">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Acceder</button>
          </mat-tab>
          <mat-tab label="Registrarse">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="123@gmail.com" value="" [(ngModel)]="r_email">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="123moco_xd" [(ngModel)]="r_pass">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirmar Password</mat-label>
              <input type="password" matInput placeholder="Confirmar Password" [(ngModel)]="r_c_pass">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="register()">Registrar</button>
          </mat-tab>
        </mat-tab-group>        
    </mat-card-content>
  </mat-card>
</div>